spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/weblibrary
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    # Уберите defer-datasource-initialization или поставьте false
    defer-datasource-initialization: false
  # Уберите или закомментируйте sql.init если не используете data.sql
  # sql:
  #   init:
  #     mode: always
  web:
    resources:
      static-locations: classpath:/static/
  mvc:
    throw-exception-if-no-handler-found: true

server:
  port: 228